In [1]:
import numpy as np
import pandas as pd

In [52]:
ratings = pd.Categorical(['Fair', 'Good', 'Excellent', 'Good', 'Fair'],
                         categories=['Terrible', 'Bad', 'Fair', 'Good', 'Excellent'],
                         ordered=True)
ratings

['Fair', 'Good', 'Excellent', 'Good', 'Fair']
Categories (5, object): ['Terrible' < 'Bad' < 'Fair' < 'Good' < 'Excellent']

In [53]:
df = pd.DataFrame({
    'Food': ['Pizza','Pasta','Salad','Burger','Sushi'],
    'Ratings': ratings,
    'Price': [10, 15, 7, 12, 20],
}, index=[1, 2, 3, 4, 5])

df

     Food    Ratings  Price
1   Pizza       Fair     10
2   Pasta       Good     15
3   Salad  Excellent      7
4  Burger       Good     12
5   Sushi       Fair     20

In [91]:
df = pd.DataFrame({
    'Clothes': ['Shirt', 'Pants', 'Jacket', 'Shoes', 'Hat'],
    'Price': [20, 30, 50, 80, 15],
    'Size': ['M', 'L', 'XL', 'M', 'S'],
    'Color': ['Red', 'Blue', 'Black', 'White', 'Green']
}, index=[1, 2, 3, 4, 5])

df

  Clothes  Price Size  Color
1   Shirt     20    M    Red
2   Pants     30    L   Blue
3  Jacket     50   XL  Black
4   Shoes     80    M  White
5     Hat     15    S  Green

In [92]:
df['Size'] = pd.Categorical(df['Size'], categories=['S', 'M', 'L', 'XL'], ordered=True)

In [93]:
df['Size']

1     M
2     L
3    XL
4     M
5     S
Name: Size, dtype: category
Categories (4, object): ['S' < 'M' < 'L' < 'XL']

In [94]:
df['Size'].cat.ordered

True

In [95]:
df['Size'].cat.categories

Index(['S', 'M', 'L', 'XL'], dtype='object')

In [96]:
df['Color'] = pd.Categorical(df['Color'], categories=['Red', 'Blue', 'Black', 'Green', 'White'], ordered=True)

In [97]:
df['Color'].cat.reorder_categories(['Blue', 'Red', 'Black', 'White', 'Green'])

1      Red
2     Blue
3    Black
4    White
5    Green
Name: Color, dtype: category
Categories (5, object): ['Blue' < 'Red' < 'Black' < 'White' < 'Green']

In [98]:
df['Size'].cat.codes

1    1
2    2
3    3
4    1
5    0
dtype: int8

In [99]:
df['Color'].cat.codes

1    0
2    1
3    2
4    4
5    3
dtype: int8

In [100]:
df

  Clothes  Price Size  Color
1   Shirt     20    M    Red
2   Pants     30    L   Blue
3  Jacket     50   XL  Black
4   Shoes     80    M  White
5     Hat     15    S  Green

In [101]:
df['Size'] = df['Size'].cat.add_categories('XXL')

In [102]:
df['Size'].cat.categories

Index(['S', 'M', 'L', 'XL', 'XXL'], dtype='object')

In [103]:
dates = pd.date_range(start='2025-01-01', freq='D', periods=5)
time_series = pd.Series(dates, index=np.arange(1, len(dates)+1))
time_series

1   2025-01-01
2   2025-01-02
3   2025-01-03
4   2025-01-04
5   2025-01-05
dtype: datetime64[ns]

In [107]:
df

  Clothes  Price Size  Color
1   Shirt     20    M    Red
2   Pants     30    L   Blue
3  Jacket     50   XL  Black
4   Shoes     80    M  White
5     Hat     15    S  Green

In [126]:
df_one_hot_encoded = pd.get_dummies(df, columns=['Color'])
df_one_hot_encoded

,Clothes,Price,Size,Size Encoded,Color_Red,Color_Blue,Color_Black,Color_Green,Color_White
1,Shirt,20,M,1,True,False,False,False,False
2,Pants,30,L,2,False,True,False,False,False
3,Jacket,50,XL,3,False,False,True,False,False
4,Shoes,80,M,1,False,False,False,False,True
5,Hat,15,S,0,False,False,False,True,False

In [127]:
df_one_hot_encoded = pd.get_dummies(df, columns=['Color'], prefix=['C'])
df_one_hot_encoded

  Clothes  Price Size  Size Encoded  C_Red  C_Blue  C_Black  C_Green  C_White
1   Shirt     20    M             1   True   False    False    False    False
2   Pants     30    L             2  False    True    False    False    False
3  Jacket     50   XL             3  False   False     True    False    False
4   Shoes     80    M             1  False   False    False    False     True
5     Hat     15    S             0  False   False    False     True    False

In [135]:
df['Size Encoded'] = pd.Categorical(df['Size'],
                                    categories=df['Size'].cat.categories.tolist(),
                                    ordered=True).codes

In [136]:
df

  Clothes  Price Size  Color  Size Encoded
1   Shirt     20    M    Red             1
2   Pants     30    L   Blue             2
3  Jacket     50   XL  Black             3
4   Shoes     80    M  White             1
5     Hat     15    S  Green             0